:root {
  --white: #FFFFFF;
  --black: #000000;
  --very-light-pink: #C7C7C7;
  --text-input-field: #F7F7F7;
  --hospital-green: #ACD9B2;
  --sm: 0.9rem;
  --md: 1.2rem;
  --lg: 1.6rem;
}

.menu {
    display: none;
}

.navbar-left {
    display: flex;
}

.navbar-left ul {
    margin-left: 12px;
    display: flex;
}

.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  color: var(--very-light-pink);
  border: 1px solid var(--white);
  padding: 8px;
  border-radius: 8px;
  font-size: var(--md);
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  border: 1px solid var(--hospital-green);
  color: var(--hospital-green);
}

.navbar-email {
  display: flex;
  color: var(--very-light-pink);
  font-size: var(--lg);
  margin-right: 12px;
  cursor: pointer;
}

/* Menú escritorio */

.desktop-menu {
  position: fixed;
  z-index: 3;
  top: 10.7vh;
  right: 0.2vw;
  width: auto;
  height: auto;
  background-color: var(--white);
  border: 1px solid var(--very-light-pink);
  border-radius: 6px;
  padding: 20px 20px 0 20px;
  font-size: var(--lg);
}

.desktop-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.desktop-menu ul li {
  text-align: end;
  padding-left: 3vw;
}

.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
  font-weight: bold;
}

.desktop-menu ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a {
  color: var(--hospital-green);
  font-size: var(--md);
}

.desktop-menu ul li a {
  color: var(--back);
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}

/* Carrito de compras */

.product-drop {
  position: fixed;
  right: 0;
  top: 11vh;
  width: 360px;
  height: 89vh;
  padding-right: 3vw;
}

/* Lista de productos */

.cards-container {
  grid-template-columns: repeat(auto-fill, 240px);
}
.product-card {
  width: 240px;
}
.product-card img {
  width: 240px;
  height: 240px;
}

/* Detalles de producto */

.product-detail {
  width: 360px;
  padding: 1vh 1vw;
}

.product-detail .product-info {
  margin: 5% 0 0 0;
}

.product-detail-close {
  left: 7%;
}

.product-detail .product-info p:nth-child(1) { /* Precio */
  margin-bottom: 8px;
}
.product-detail .product-info p:nth-child(2) { /* Nombre */
  margin-bottom: 24px;
}

.product-detail .product-info p:nth-child(3) { /* Descripción */
  margin-bottom: 24px;
}